.wrapper-table {
  width: 850px;
  background: linear-gradient(to right, #8a2387, #e94057, #f27121);
  padding: 15px 15px 10px 15px;
  border-radius: 20px;
}

.wrapper-table table {
  background: white;
}

.wrapper-table .ant-table-content {
  overflow: auto;
}

.ant-table-cell {
  font-size: 20px;
  border-bottom: 2px solid #e94057 !important;
}

.render-row {
  font-weight: bold;
  font-size: 14px;
}

.col-g {
  color: green;
}

.col-r {
  color: red;
}

.wrapper-mobile-carts {
  margin: .5em;
}

.item-card {
  overflow: hidden;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .wrapper-table {
    width: 90vw;
  }
}

.wrapper-mobile-carts p {
  letter-spacing: .05em;
  text-shadow:
      0 -1px 0 #fff,
      0 1px 0 #2e2e2e,
      0 10px 15px rgba(0, 0, 0, 0.9);
}
